
PORT=3000
DATABASE_URL=postgres://postgres.agauuzudkvbxecpukshq:[YOUR_PASSWORD]@aws-0-ap-northeast-2.pooler.supabase.com:6543/postgres?sslmode=require
SUPABASE_URL=https://agauuzudkvbxecpukshq.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFnYXV1enVka3ZieGVjcHVrc2hxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODcwNDMyNTAsImV4cCI6MjEwMjYxOTI1MH0.6byNsZMv_zZnUQX75dUzaEANWhfXx7XExUE-ZQ-RO2w
